.centeredrow {
    margin-top: 30px;
    text-align: center;
    align-content: center;
}

.websitelogo {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

li {
    float: left;
    list-style: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headertag {
    font-family: forma-djr-micro, sans-serif;
    font-style: normal;
    font-weight: 200;
    top: 50%;
    vertical-align: center;
    text-decoration: none;
    color: black;
}

.headertag:hover {
    color: black;
    text-decoration: none;
}

.collapsed {
    border: none;
}

.icon {

}