/*Global Vars*/
:root {
    --lightblue: #2F6673;
    --darkblue: #1A3940;
    --bluegreen: #3E8C7E;
    --pastelgreen: #DDF2DC;
    --peach: #F2CDAC;
}

body {
    width: 100%;
    background-color: #DDF2DC;
}

#root {
    width: 100%;
    background-color: #DDF2DC;
}